<meta charset="utf-8">
<title>page-break-before</title>
<style>
 @media print {
  .pagebreak { page-break-after: always; }
  .mainBody { float: none; }
 }
</style>
<div id="mainBody">
  <div id="pagebreak">
    <h2 align = "center"> Приказ за %1 </h2>
    <br>
    %2
    <h3 align = "center"> Списки к зачислению:</h3>
    %3
  </div>
  <div>
  </div>
</div>
